<header class="mt-6">
  <nav class="nav-x flex mx-4 sm:mx-16 items-center">
    <div class="flex items-center gap-4">
      <a href="{{ .Site.Home.Permalink }}" class="flex">
        <img src="/images/logo.png" alt="Site Logo" width="40" height="40" class="object-cover">
      </a>
      <a href="{{ .Site.Home.Permalink }}">
        <h1 class="text-gray-800 decorate-none">
          {{ .Site.Title }}
        </h1>
      </a>
    </div>
    <div class="flex-grow text-right text-xl items-center gap-4">
      <a href="/index.xml">订阅</a>
      <a href="/search">搜索</a>
      <a href="https://blog.huyixi.com" class="hidden sm:inline-block">博客</a>
      <a href="/about">关于</a>
    </div>
  </nav>
</header>
