<aside class="grid-left sticky top-0 pl-16 pt-6 h-screen hidden md:block">
    <div class=" h-[52px] flex items-center gap-4">
        <a href="{{ .Site.Home.Permalink }}">
            <img src="/images/logo.png" alt="Site Logo" width="40" height="40" class="object-cover">
        </a>
        <a href="{{ .Site.Home.Permalink }}">
            <h1 class="text-gray-800 decorate-none">
                {{ .Site.Title }}
            </h1>
        </a>
    </div>
    <nav class="sidebar-nav pr-16 mb-4 scrolls-sidebar ">
        <ul class="p-0">
            {{ range .Site.RegularPages }}
            <li class="line-clamp-1 m-1px py-1.2 px-2.8">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</aside>
